.navbar{
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: left;
    padding: 1% 2%;
    border-bottom: 1px solid white;
    display: flex;
}
.navbar>p{
    margin: 0px;
}